.back-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin-left: 0;
}

.back-button:hover {
    background-color: #336fd1;
    transition: background-color 0.3s ease;
}